#CybotCookiebotDialog button{ 
    height : auto !important;
    line-height: auto !important;
    box-shadow : unset !important;
}

#CybotCookiebotDialog button:hover, .button:hover, button:active, .button:active,
.button:active, button:focus .button:focus{ 
    box-shadow : unset !important;
    color : #000 !important;
    background-color : unset !important;
}

#CybotCookiebotDialog label{ 
    display : unset !important;
    font-weight: 700 !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
    color : #fff !important;
    background-color : #1032CF !important;
}

#CybotCookiebotDialogDetailBodyContentCookieContainerPreference
{
    border-radius : unset !important;
}