#CybotCookiebotDialog input,button{ 
    height : unset !important;
    line-height: unset !important;
    box-shadow : unset !important;
}

#CybotCookiebotDialog button:hover, button:active{ 
    box-shadow : unset !important;
    color : unset !important;
    background-color : unset !important;
}

#CybotCookiebotDialog label{ 
    display : unset !important;
    font-weight: 700 !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
    color : #fff !important;
}

#CybotCookiebotDialogDetailBodyContentCookieContainerPreference
{
    border-radius : unset !important;
}